RewriteEngine On
 

 <IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://dev.my-links.fans/$1 [R=301,L]
</IfModule>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php [L]

<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
</IfModule>

<IfModule mod_headers.c>
	Header always append X-Frame-Options SAMEORIGIN
</IfModule>

<IfModule mod_headers.c>
	Header set X-Content-Type-Options nosniff
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

ServerSignature Off

<IfModule mod_autoindex.c>
Options -Indexes
</IfModule>

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Deny access to files with extensions .ini, .sh
<FilesMatch "\.(ini|sh)$">
Order allow,deny
Deny from all
</FilesMatch>

# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

RewriteEngine On
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https://dev.my-links.fans/.*$ [NC]
RewriteRule .(gif|jpg|swf|flv|png)$ https://dev.my-links.fans/hotlink.gif [R,L]

FileETag none


RewriteBase /

RewriteCond %{HTTP_USER_AGENT} ^atraxbot [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^Azureus [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^geohasher [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^PycURL [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^Python-urllib [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^research-scan-bot [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^Sosospider [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^Wget [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^xenu [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^.*casper [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^.*goblox [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^.*sun4u [NC]
RewriteRule ^(.*)$ - [F]


RewriteRule ^vendor/(.*)?$ / [R=301,L]

RewriteRule ^bin/(.*)?$ / [R=301,L]

RewriteRule ^config/(.*)?$ / [R=301,L]

RewriteRule ^controller/(.*)?$ / [R=301,L]

RewriteRule ^node_modules/(.*)?$ / [R=301,L]


RewriteRule ^socials-embed/(.*)?$ / [R=301,L]



<Files "*.md">
    Order Deny,Allow
    Deny from all
</Files>


<Files "*.json">
    Order Deny,Allow
    Deny from all
</Files>

order allow,deny
deny from 185.221.181.30
allow from all

Options +FollowSymLinks
RewriteEngine On
RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|[|%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|[|%[0-9A-Z]{0,2})
RewriteRule ^(.*)$ index.php [F,L]


RewriteRule ^login$ /templates/login.php [L]
RewriteRule ^link$ /templates/link.php [L]
