/* ===== Style CSS Bakground ===== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
#user.bg-full.css.template-4 {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
#user.bg-top.css.template-4:before {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

/* ===== END Style CSS Bakground ===== */
#user {
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  font-family: "Quicksand", sans-serif;
}
#user.bg-top {
  position: relative;
  background-size: 100% 135px;
  background-color: #fff;
}
#user.bg-top:before {
  content: "";
  display: block;
  width: 100%;
  height: 155px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}
#user.bg-top .user-container .header-user .name-user h1 {
  color: #641f55;
}
#user.bg-top .user-container section.my-links a {
  background-image: linear-gradient(45deg, #641f55, #d90b73);
}
#user.bg-top .user-container section.my-links a:before {
  border-color: #641f55;
}
#user.bg-top .user-container section.my-links a:hover {
  background: transparent !important;
  opacity: 1 !important;
  color: #641f55 !important;
}
#user .user-container {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
  z-index: 50;
}
#user .user-container .header-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#user .user-container .header-user > * {
  margin-bottom: 30px;
}
#user .user-container .header-user .img-user {
  width: 150px;
  height: 150px;
  border-radius: 500px;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
#user .user-container .header-user .img-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#user .user-container .name-user h1 {
  color: #fff;
  margin: 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
#user .user-container section.my-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#user .user-container section.my-links a {
  background-color: #ffffff;
  margin-bottom: 16px;
  width: 100%;
  padding: 16px 66px;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  border-radius: 500px;
  line-height: 1.5;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  text-decoration: none;
  font-weight: 500;
}
#user .user-container section.my-links a:before {
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px solid #fff;
  border-radius: 500px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease;
  opacity: 0;
}
#user .user-container section.my-links a:hover {
  background-color: transparent !important;
  opacity: 1 !important;
  color: #fff !important;
}
#user .user-container section.my-links a:hover:before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.nextprev {
  bottom: 0;
}

button {
  padding: 8px;
  width: 100px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-out;
}

button:hover {
  transform: scale(1.05);
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.pages {
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  transition: all 0.7s;
  color: white;
}

.one {
  background: orangered;
}

#linkpage body {
  font-family: Arial, sans-serif;
  background-color: #f1f3f6;
}
#linkpage header {
  background-color: #007bff;
  color: white;
  padding: 1rem;
  text-align: center;
}
#linkpage header h1 {
  margin: 0;
}
#linkpage main {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 2rem auto;
  max-width: 600px;
  padding: 2rem;
  text-align: center;
}
#linkpage form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, min-content);
  align-items: center;
}
#linkpage label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}
#linkpage input,
#linkpage select {
  background-color: #f8f9fa;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #444;
  font-size: 1rem;
  padding: 0.5rem;
  transition: all 0.2s ease;
}
#linkpage input:focus,
#linkpage select:focus {
  outline: none;
  box-shadow: 0 0 0 3px #007bff;
}
#linkpage input[type=color] {
  padding: 0;
  vertical-align: middle;
}
#linkpage input[type=submit] {
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  transition: all 0.2s ease;
}
#linkpage input[type=submit]:hover {
  background-color: #0062cc;
}
#linkpage input[type=submit].submit-animation {
  animation: submit 1s ease;
}
@keyframes submit {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#linkpage input[type=datetime-local] {
  background-color: white;
}
#linkpage .checkbox {
  display: inline-block;
  position: relative;
}
#linkpage .checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
#linkpage .checkbox label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  margin-bottom: 0;
  display: inline-block;
}
#linkpage .checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #007bff;
  border-radius: 3px;
  transition: all 0.2s ease;
}
#linkpage .checkbox label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #007bff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: all 0.2s ease;
}
#linkpage .checkbox input[type=checkbox]:checked ~ label::before {
  background-color: #007bff;
  border-color: #007bff;
}
#linkpage .checkbox input[type=checkbox]:checked ~ label::after {
  transform: rotate(45deg) translate(-4px, 4px);
}
@media screen and (max-width: 600px) {
  #linkpage form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(15, min-content);
  }
}
@media screen and (max-width: 400px) {
  #linkpage form {
    grid-gap: 0.5rem;
  }
}
#linkpage .form-group.password-input-container {
  position: relative;
}
#linkpage .form-group.password-input-container input[type=password] {
  padding-right: 30px;
}
#linkpage .form-group.password-input-container .password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #6c757d;
  cursor: pointer;
}
#linkpage .form-group.checkbox-input-container {
  display: inline-block;
  position: relative;
}
#linkpage .form-group.checkbox-input-container input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
#linkpage .form-group.checkbox-input-container .checkbox-custom {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  display: inline-block;
  vertical-align: middle;
}
#linkpage .form-group.checkbox-input-container .checkbox-custom::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #007bff;
  border-radius: 3px;
  transition: all 0.2s ease;
}
#linkpage .form-group.checkbox-input-container .checkbox-custom::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #007bff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: all 0.2s ease;
}
#linkpage .form-group.checkbox-input-container input[type=checkbox]:checked ~ .checkbox-custom::before {
  background-color: #007bff;
  border-color: #007bff;
}
#linkpage .form-group.checkbox-input-container input[type=checkbox]:checked ~ .checkbox-custom::after {
  transform: rotate(45deg) translate(-4px, 4px);
}
#linkpage #private_pass {
  width: 100%;
}
#linkpage #toggle-password {
  position: absolute;
  transform: translate(-110%, 60%);
  cursor: pointer;
}

html * {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
